<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="hrs-cordova-plugin-audiomanagement"
        version="1.0.1">
    <name>AudioManagement</name>
    <description>A plugin to manage audio mode and volume</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,ringtone mode, volume, audio mode</keywords>
    <repo>https://github.com/ScottWaring/hrs-cordova-plugin-audiomanagement</repo>
    <issue>https://github.com/ScottWaring/hrs-cordova-plugin-audiomanagement/issues</issue>

    <js-module src="www/AudioManagement.js" name="AudioManagement">
        <clobbers target="AudioManagement" />
    </js-module>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="AudioManagement" >
          <param name="android-package" value="com.hrs.audiomanagement.AudioManagement"/>
        </feature>
      </config-file>

      <source-file src="src/android/AudioManagement.java" target-dir="src/com/hrs/AudioManagement/"/>
    </platform>
</plugin>
